@model System.Web.Http.Description.IApiExplorer
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @foreach (var api in Model.ApiDescriptions)
        {
            <h5>@api.HttpMethod @api.RelativePath</h5>
            <p>@api.Documentation</p>
            if (api.ParameterDescriptions.Count > 0)
            {
                <h6>Parameters</h6>
                <ul>
                    @foreach (var parameter in api.ParameterDescriptions)
                    {
                        <li> @parameter.Name: @parameter.Documentation  (@parameter.Source)</li>
                    }
                </ul>
            }
        }
    </div>
</body>
</html>
